$color-primary-cyan: hsl(185, 75%, 39%);
$color-primary-blue:hsl(229, 23%, 23%);
$color-primary-gray-blue: hsl(227, 10%, 46%);
$color-neutral-grey:  hsl(0, 0%, 59%);


$font-kumbh: 'Kumbh Sans', sans-serif;
$font-medium: 400;
$font-bold: 700;
$font-nnormal: 1.125rem;

