$color-primary-cyan: hsl(185, 75%, 39%);
$color-primary-blue:hsl(229, 23%, 23%);
$color-primary-gray-blue: rgb(106, 111, 129);
$color-neutral-grey:  hsl(0, 0%, 59%);
$color-neutral-white: hsl(0, 0%, 100%);


$font-kumbh: 'Kumbh Sans', sans-serif;
$font-medium: 400;
$font-bold: 700;
$font-normal: 1.125rem;

