@import './partials/variables';
@import './partials/media-queries';


html{
    min-height: 100vh;
    max-width: 1440px;
}

body{
    min-width:100%;
    background: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -350px -500px, 750px 150px;
    color: $color-neutral-grey;
    @include media-query(desktop-large){
        background-position: 50px -500px, 1600px 350px;
    }
    // background-size: 150px;

}



.container{
    box-sizing: border-box;
    background-color: $color-neutral-white;
    text-align: center;
    margin: 200px auto;
    min-width: 25%;
    max-width: 30%;
    min-height: 30%;
    box-shadow: 0 0 10px hsl(229, 23%, 23%);
    border-radius: 20px;
    font-size: $font-normal;
    font-family: $font-kumbh;
    background: $color-neutral-white url(./images/bg-pattern-card.svg) no-repeat top;
    background-size: 100% 45% ;
    @include media-query(desktop-large){
        min-width: 25%;
        max-width: 40%; 
        font-size: 2rem;   
    }

    @include media-query(desktop-medium){
        background-size: 100% 45% ;
    }

    @include media-query(mobile){
        min-width: 40%;
        max-width: 60%;
    }

        .card-image{
            margin: 30px auto 0 auto;
            border: 5px solid $color-neutral-white;
            border-radius: 500px;
            height: 20%;
            width: 20%;
            transform: translateY(90px);
        }
        .name{
            margin-top: 70px;
            display: flex;
            justify-content: center;
            p:first-of-type{
                font-weight: $font-bold;
                margin-right: 5px;
                color: $color-primary-blue;
    
            }
            // p:last-of-type{
            //     // font-weight: $font-medium;
            // }
        }
    
        .city{
            margin-top: -5px;
        }
    
        hr.line{
            border-top: 1px solid hsl(0, 0%, 85%);
        }
    
    
        .stats{
            display: flex;
            justify-content: space-around;
            .followers{
                p:first-of-type{
                    font-weight: $font-bold;
                    color: $color-primary-blue;
                }
            }
    
        }
    
}







